<app-menu></app-menu>

<div class="container">
<div class="card">
  <div class="card-header">
    Task {{task.id}}   {{task.nom}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{task.description}}</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Modify</button>
        <button type="button" class="btn btn-dark">Save changes</button>
        <button type="button" class="btn btn-danger">Delete</button>
        </div>
    </blockquote>
  </div>
</div>
</div>